.app {
  font-family: 'GeosansLight-NMS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr 1fr;
  height: 100%;
}

.userInput {
  grid-column: span 12;
  font-size: 2.5rem;
}

.color-selections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
